# REDAXO
# ignoriere die Config, den Cache-Ordner und alle Media-Files
app/redaxo/data/core/config.yml
app/redaxo/cache
app/media/*
!app/media/README.md

# ENV wird lokal definiert, hat deshalb nichts im Repo zu suchen
.env

# Keine Node-Module versionieren!
# Unnötig groß für ein Repo, und sie kommen ja per npm/yarn.
node_modules

# IDE config, brauchen wir nicht in diesem Projekt
.idea

# Datenbank (Docker)
db
