{# settings #}
{% set pageTitle = "REDAXO mit Bimmelbam" %}

{# extend main layout #}
{% extends "layouts/main.njk" %}

{# inject content #}
{% block content %}
    {% include "components/carousel.njk" %}
{% endblock %}