<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-wrap="true">

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="carousel-image" style="background-image: url('../assets/images/stage_01.jpg');"></div>
            <div class="carousel-cover"></div>
            <div class="carousel-caption">
                <h3>Okay, ein Hund.</h3>
                <p>So einen Slider braucht kein Mensch, aber es ist einer in dieser Demo-Website ent&shy;halten, um zu demon&shy;strieren, wie man eine Boot&shy;strap-Kompo&shy;nente ein&shy;bindet.</p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="carousel-image" style="background-image: url('../assets/images/stage_02.jpg');"></div>
            <div class="carousel-cover"></div>
            <div class="carousel-caption">
                <h3>Noch ein Hund?</h3>
                <p>Ja, denn ein Slider benötigt mehr als nur ein einzelnes Hunde-Slide. Außerdem haben wir nun Platz für
                    <a href="https://material.io/icons/">Material Icons</a>, schau mal:
                    <i class="material-icon">face</i> <i class="material-icon">loyalty</i>
                    <i class="material-icon">directions_bike</i></p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="carousel-image" style="background-image: url('../assets/images/stage_03.jpg');"></div>
            <div class="carousel-cover"></div>
            <div class="carousel-caption">
                <h3>Verstehe, eine komplette Hunde-Show.</h3>
                <p>Ja, aber nur deshalb, um noch ein paar SVG-Icons<sup>*</sup> anbringen zu können:
                    <svg class="icon icon--coffee">
                        <title>Coffee</title>
                        <use xlink:href="#icon-coffee"></use>
                    </svg>
                    <svg class="icon icon--monster">
                        <title>Monster</title>
                        <use xlink:href="#icon-monster"></use>
                    </svg>
                    <svg class="icon icon--bird">
                        <title>Bird</title>
                        <use xlink:href="#icon-bird"></use>
                    </svg>
                </p>
                <small><sup>*</sup> Monster by
                    <a href="https://thenounproject.com/AprilHsuan/">April Yang</a>, coffee cup by
                    <a href="https://thenounproject.com/AliceNoir/">Alice Noir</a>, Bird by
                    <a href="https://thenounproject.com/latyshevaoksana/">Oksana Latysheva</a>. All from the Noun Project.
                </small>
            </div>
        </div>
        <div class="carousel-item">
            <div class="carousel-image" style="background-image: url('../assets/images/stage_04.jpg');"></div>
            <div class="carousel-cover"></div>
            <div class="carousel-caption">
                <h3>Warum das alles?</h3>
                <p>Dies ist eine Demo für einen
                    <a href="https://github.com/FriendsOfREDAXO/redaxo-mit-bimmelbam">Frontend-Workflow</a> rund um eine REDAXO-Website. Nur ein bisschen Bimmelbam also.
                </p>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="carousel-control-prev" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</div>