<footer class="footer">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <p>Alle Hintergrundbilder von <a href="https://unsplash.com">Unsplash</a>, danke sehr! &lt;3</p>
                
            </div>
        </div>
    </div>

</footer>