<header class="header">

    <div class="container">
        <div class="row">
            <div class="col-sm-6">

                <svg class="header-brand"><use xlink:href="#trex">TREX</svg>

            </div>
            <div class="col-sm-6">

                <nav>
                    <ul class="nav header-nav">
                        <li class="active"><a href="./">Home</a></li>
                        <li><a href="https://github.com/FriendsOfREDAXO/redaxo-mit-bimmelbam">Github</a></li>
                        <li><a href="http://www.redaxo.org/slack/">Slack</a></li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>

</header>