<header class="header">

    <div class="container">
        <div class="row">
            <div class="col-sm-6">

                <img class="header-brand" src="../assets/images/FOR-badge-light.png" alt="Friends Of REDAXO" data-toggle="tooltip" data-placement="right" title="Friends Of REDAXO">

            </div>
            <div class="col-sm-6">

                <nav>
                    <ul class="nav header-nav">
                        <li class="active"><a href="./">Home</a></li>
                        <li><a href="https://github.com/FriendsOfREDAXO/redaxo-mit-bimmelbam">Github</a></li>
                        <li><a href="http://www.redaxo.org/slack/">Slack</a></li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>

</header>